<div class="form-container">
	<form class="add_steel">
		<label for="">Type</label>
		<select id="sd" class="steel_type selectmenu">
			<option value="">Please select</option>
			
		</select>

		<label for="">Section</label>
		<select class="steel_section">
			<option value="">Please select</option>
		</select>

		<label for="">Grade</label>
		<select class="steel_grade">
			<option value="">Please select</option>
		</select>

		<label for="length">Length</label>
		<input id="length" name="length" type="number"></input>

		<label for="length">Quantity</label>
		<input id="quantity" name="quantity" type="number"></input>

		<label for="commments">Comments</label>
		<textarea id="comments" name="comments" type="text"></textarea>
		<input id="submit-form" type="button" value="submit"/>
	</form>
</div>