<div class="header-container">
	<button id="menu"><span class="icon glyphicon glyphicon-user" aria-hidden="true"></span></button>
	<button id="home"><span class="icon glyphicon glyphicon-home" aria-hidden="true"></span></button>
	{{!-- <button id="back"><span class="icon glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button> --}}
	<div id="page_title">Options</div>
	<div class="mc" id="menu-container">
		<ul>
			<li class="menu-option" id="account">My Account
				<span class="icon glyphicon glyphicon-folder-open" aria-hidden="true">
			</li>
			<li class="menu-option" id="logout">Log Out
			<span class="icon glyphicon glyphicon-log-out" aria-hidden="true">
			</li>
		</ul>
	</div>
</div>	