<div class="header-container">
	<button id="menu">Menu</button>
	<button id="home">Home</button>
	<div class="mc" id="menu-container">
		<ul>
			<li class="menu-option" id="account">My Account</li>
			<li class="menu-option" id="logout">Log Out</li>
		</ul>
	</div>
</div>	