<div class="home-container">
	<div id="search" class="list-item">
		<span class="icon glyphicon glyphicon-search" aria-hidden="true"></span>
		<p>Search Materials</p>
	</div>
	<div id="add" class="list-item">
		<span class="icon glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
		<p>Add Materials</p>
	</div>
</div>