<div class="home-container">
	<div id="search" class="list-item">
		<span class="icon glyphicon glyphicon-search" aria-hidden="true"></span>
		<p>Search</p>
	</div>
	<div id="add" class="list-item">
		<span class="icon glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
		<p>Add</p>
	</div>
<div id="goToAdmin"><h3>Administrator</h3></div>
</div>