<div class="login-container">
	<div id="logo">
		<img src="assets/img/logo.png">
	</div>
	<div class="login-details">
		<input id="username" placeholder=" Username" type="text"/>
		<span class="errors"></span>
		
		<input id="password" placeholder=" Password" type="password"/>
		<span class="errors"></span>

		<button id="submit_password">Submit</button>

		<span class="validate_response"></span>
		<div class="error">
			<span class="glyphicon glyphicon-remove-circle icon" aria-hidden="true"></span>
		</div>
	</div>
</div>